*,
*::before,
*,
*::after {
  box-sizing: border-box;
}
:root {
  color: white;
  place-content: center;
  box-sizing: border-box;
  background-color: rgb(8, 8, 8);
  font-family: Arial, Helvetica, sans-serif;
}
.MainHead {
  display: flex;
  flex-direction: column;
}
.headDiv {
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 5em;
  justify-content: space-between;
}
.headDiv1 {
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 4px;
  
}
.contactDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Contact{
  padding: 3px;
  border: 2px solid white;
  margin: 3px;
  border-radius: 10px;
}
.Contact:hover{
  background-color: yellow;
  color: black;
}
.FirstDiv,
.SecoundDiv {
  position: relative;
  height: 30px;
  width: 250px;
  border-radius: 20px;
  border-color: rgb(249, 246, 246);
  border-width: 10px;
  border-width: 2px;
  border: double;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FirstDiv1{
  position: relative;
  height: 30px;
  width: 150px;
  border-radius: 20px;
  border-color: rgb(249, 246, 246);
  border-width: 10px;
  border-width: 2px;
  border: double;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FirstDiv1:hover{
  background-color: rgb(246, 246, 244);
  color: black;
}

.FirstDiv:hover{
  background-color: yellow;
  color: black;
}
.SecoundDiv:hover{
  background-color: rgb(250, 250, 248);
  color: black;
}
.BigDiv {
  padding: 10px;
  height: 200px;
  width: 1000;
  background: rgb(158, 154, 146);
  border-radius: 20px;
}
.BigDivInner{
  padding: 10px;
  font: 4em sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6.5em;
}
.bigDivInner2{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bigDivInner22{
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}
.myImage{
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid black;
}
.myImage2{
  margin: 5px;
  border: 2px solid white;
}
.myImage2:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.bodySection {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.bodySection1 {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 2em;
}
.bodySectionChild1 {
  padding: 10px;
  background-color: black;
  color: white;
  height: auto;
  width: 350px;
  border: 3px solid white;
  border-radius: 10px;
}
.bodySectionChild2 {
  padding: 5px;
  height: 150px;
  width: 350px;
  background-color: rgb(254, 155, 7);
  color: black;
  border: 3px solid white;
  border-radius: 10px;
}
.bodySectionChild3 {
  padding: 5px;
  height: 150px;
  width: 350px;
  background-color: rgb(253, 46, 253);
  color: black;
  border: 3px solid white;
  border-radius: 10px;
}
.footerDiv{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: black;
}
.innerFoot{
  border: 1px solid white;
  border-radius: 10px;
}
.footerDiv1{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.bodyDivMain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5em;
}
.bodyDiv{
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.About {
  background-color: #e8460c;
  width: 300px;
  margin-top: 10px;
  border-color: #14202d;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}
.MarvelImg {
  width: 300px;
  margin: 0;
  border-radius: 20px;
  margin-bottom: 0;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.MarvelImg:hover {
  opacity: 0.3;
}
.about-info {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  display: inline;
}
.about-info h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.about-info2 button {
  margin-top: 20px;
  color: #14202d;
  background-color: white;
  width: 100%;
  border-radius: 20px;
}
.about-info3 {
  color: #111;
  width: 300px;
  height: auto;
  background-color: #f7f8fb;
  text-align: center;
  text-transform: capitalize;
  font-size: small;
  width: 300px;
  margin-top: 10px;
  border-color: #14202d;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}
.about-info3 h3 {
  margin-bottom: 4px;
  color: rgb(2, 2, 44);
}
.about-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
}
.portfolio{
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  place-content: center;
  gap: 3em;
}
.pt{
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #0b0b0b;
  color: #f7f8fb;
  height: 150px;
  width: 250px;
  border: 3px solid white;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}